@use 'styles/scss' as *;

.wrapper {
	.form {
		display: flex;
		flex-direction: column;
		gap: 10px;
		align-items: center;
		max-height: 70vh;
		overflow: auto;

		&::-webkit-scrollbar {
			width: 12px;
		}

		&::-webkit-scrollbar-track {
			background: $white;
		}

		&::-webkit-scrollbar-thumb {
			background-color: $primary;
			border: 3px solid $gray-light;
			border-radius: 20px;
		}
	}

	.pagination {
		display: flex;
		justify-content: end;
		margin-top: 10px;
	}
}
