@use 'styles/scss' as *;

.header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 5px;
	border-bottom: 1px solid $primary;

	svg {
		width: 90px;
	}

	.block {
		display: flex;
		flex-direction: row;
		gap: 20px;

		.title {
			text-transform: uppercase;
		}
	}
}
