@use 'styles/scss' as *;

.form {
	display: flex;
	flex-direction: column;
	gap: 10px;
	height: 100%;

	.questions {
		display: flex;
		flex-direction: column;
		gap: 10px;
		align-items: center;
		max-height: 100%;
		overflow: auto;

		&::-webkit-scrollbar {
			width: 12px;
		}

		&::-webkit-scrollbar-track {
			background: $white;
		}

		&::-webkit-scrollbar-thumb {
			background-color: $primary;
			border: 3px solid $gray-light;
			border-radius: 20px;
		}
	}

	.button {
		display: flex;
		justify-content: center;
	}
}
